<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Assets/Font/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="stylesheet" href="../../Assets/Css/header_footer.css">
    <link rel="stylesheet" href="../../Assets/Css/reset.css">
    <link rel="stylesheet" href="../../Assets/Css/dashboard.css">
    <link rel="icon" href="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Icon/LOL.png">
    <title>League of Legends</title>
</head>

<body>
    <header id="header"></header>

    <main id="main">
        <video autoplay muted loop>
            <source
                src="https://cmsassets.rgpub.io/sanity/files/dsfx7636/news/8ab3e227121c53aacab0c9b9f7a48adbc65db520.webm">
        </video>
        <div>
            <img src="https://cmsassets.rgpub.io/sanity/images/dsfx7636/news/9eb028de391e65072d06e77f06d0955f66b9fa2c-736x316.png?auto=format&fit=fill&q=80&w=460"
                alt="">
            <button>
                <a class="transition" href="https://www.leagueoflegends.com/en-us/">Play for free</a>
            </button>
        </div>
    </main>
    <footer id="footer" class="footer"></footer>
</body>

</html>
<script src="../../Assets/Javascript/function.js"></script>
<script src="../../Assets/Javascript/load-header-footer.js"></script>