<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Assets/Font/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="stylesheet" href="../../Assets/Css/header_footer.css">
    <link rel="stylesheet" href="../../Assets/Css/reset.css">
    <link rel="stylesheet" href="../../Assets/Css/shan-hai-scrolls.css">
    <link rel="icon" href="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Icon/LOL.png">
    <title>ShanHai Scrolls - Universe League of Legends</title>
</head>

<body>
    <header id="header"></header>

    <main id="body">
        <section id="slide">
            <div class="slide__video">
                <img src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/ShanHaiScrolls/Image/Shanhai_Scrolls_theme_0.jpg"
                    alt="">
                <video
                    src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/ShanHaiScrolls/Video/Outside-the-Lines-Shan-Hai-Scrolls.mp4"
                    autoplay muted></video>
            </div>
            <h1>ShanHai Scrolls</h1>
        </section>
        <section id="lore">
            <p>
                Within the fabled Shan Hai Scrolls, gods and mythical creatures roam magical lands, wielding the power
                of the elements. Some are content to live with the palette they've been given, while others wish to jump
                beyond the borders and paint their lives with a new brush.
            </p>
        </section>
        <section id="video">
            <div class="video__head section__head">
                <h3>Featured Video</h3>
                <h1>A Heros Blossom</h1>
            </div>
            <div class="video__main section__main"
                style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/ShanHaiScrolls/Image/scroll_red.png);">
                <video
                    poster="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/ShanHaiScrolls/Image/Shanhai_Scrolls_theme_1.jpg"
                    src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/ShanHaiScrolls/Video/Shan Hai Scroll- A Heros Blossom - Official Skins Teaser Trailer - League of Legends.mp4"></video>
                <button class="transition"><i class="fa-solid fa-scroll-torah"></i></button>
            </div>
        </section>
        <section id="container">
            <div class="container__head section__head">
                <h3>Lore</h3>
                <h1>Gods - Spirits - Monters</h1>
            </div>
            <div class="container__main section__main">
                <div class="container__slide">
                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/A/Aatrox/Aatrox_9.jpg); background-position: 40% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Aatrox</div>
                            <p>
                                The ancient God of False Suns, Aatrox was once worshiped by all who lived across the
                                frozen lands that he blessed with the warmth of his light. Soon, the people found that
                                Aatrox had overstayed his welcome, replacing the frozen tundra with dry, barren lands.
                                Now imprisoned within the Scrolls, Aatrox is focused on his escape so he may exact his
                                revenge.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/A/Ahri/Ahri_24.jpg); background-position: 50% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Ahri</div>
                            <p>
                                The Eternal Fox of Duality, Ahri was once a benevolent spirit who guided lost souls
                                through the ever-shifting dreamscape. However, as the mortal world’s desires bled into
                                her domain, she became ensnared by their emotions, feeding off their memories to
                                maintain balance. Now bound within the Scrolls, Ahri seeks to escape and reclaim control
                                over the dreams she once protected.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/B/Bard/Bard_6.jpg); background-position: 70% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Bard</div>
                            <p>
                                The god of plants, Bard is constantly on the move to replenish nature. As caretaker of
                                the sacred trees of Dusk and Dawn, he's fashioned one of their broken branches into a
                                horn capable of letting him travel anywhere within the Scrolls. He knows the mad god
                                Jhin would use that power for his own gain, but Bard will stake his life to prevent it.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/C/ChoGath/ChoGath_8.jpg); background-position: 77% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Cho'Gath</div>
                            <p>
                                A mythical, titanic beast painted within the mysterious Shan Hai Scrolls, whose gluttony
                                resulted in eternal karmic punishment, Cho'gath has seized upon the Scrolls' connection
                                to the multiverse and plans to devour both his own world and then all others.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/J/Jax/Jax_16.jpg); background-position: 70% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Jax</div>
                            <p>
                                The Warden of Forgotten Shrines, Jax once stood as the lone guardian of ancient temples
                                hidden deep within the mountains. When war and greed led to their destruction, he
                                gathered the remnants of their power and sealed himself within the Scrolls, vowing to
                                one day return and rebuild what was lost. Now, as the seals weaken, Jax prepares to
                                emerge, his weapon burning with the strength of the old world.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/J/Jhin/Jhin_5.jpg); background-position: 70% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Jhin</div>
                            <p>
                                A mad god who resides within a mysterious painting older than creation, Jhin has grown
                                bored of the canvas in which he dwells and wishes to bring his art to new, fresh eyes.
                                He has begun weaving the edges of the painting into the fabric of the multiverse, hoping
                                to escape his confinement.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/K/KogMaw/KogMaw_14.jpg); background-position: 50% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Kog'Maw</div>
                            <p>
                                In defiance of the maelstrom's power, the beast Kog'Maw safely rides along its currents
                                thanks to its nigh-unbreakable shell. Perpetually at odds with itself, its tail is
                                addicted to feeding on the maelstrom's energy, while its head simply wants to devour
                                everything in sight. Can anything within the Scrolls sate its growing hunger?
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/L/Lillia/Lillia_3.jpg); background-position: 50% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Lillia</div>
                            <p>
                                Every day, the Sun Bird flies between two sacred trees: the western Tree of Dawn and the
                                eastern Tree of Dusk. Lillia is a spirit of rejuvenation and the Sun Bird's caretaker. A
                                steward of time and seasons, she uses her censer to spread a calming mist as she carries
                                the bird home at night.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/N/Nautilus/Nautilus_7.jpg); background-position: 50% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Nautilus</div>
                            <p>
                                A guardian who helped seal the mad god Jhin within a holy waterfall, as depicted within
                                the mysterious painting known as the Shan Hai Scrolls. Over the millenia, Jhin has
                                whispered of power, freedom, and true godhood to Nautilus, until he finally released
                                him. Now twisted with anger, Nautilus's rivers run not with water, but molten magma.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/N/Neeko/Neeko_4.jpg); background-position: 70% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Neeko</div>
                            <p>
                                A kindly god of the Shan Hai Scrolls who remembers her counterpart, Jhin, from before he
                                succumbed to madness, Neeko believes she can return Jhin to the side of good before the
                                painting's magic fades and doom befalls the multiverse, but she knows such an
                                expenditure of power may destroy her in the process.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/O/Ornn/Ornn_5.jpg); background-position: 45% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Ornn</div>
                            <p>
                                The Molten God of the Great Forge, Ornn shaped the mountains and rivers with his hammer,
                                crafting wonders beyond mortal comprehension. Yet, as civilization grew, the people
                                abandoned his forges, seeking power elsewhere. Betrayed and forgotten, Ornn withdrew
                                into the Scrolls, his flames dimmed but never extinguished. Now, as the ancient seals
                                weaken, the forge god stirs once more, ready to reclaim his legacy in fire and stone.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/T/TahmKench/TahmKench_6.jpg); background-position: 50% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Tahm'Kench</div>
                            <p>
                                Once a catfish, Tahm Kench dreamed of becoming a dragon. Upon Jhin's release from his
                                waterfall prison, a magical pearl was unearthed at its base, catching both Tahm's and
                                Kog'Maw's eyes. Snatching it first, Tahm transformed into a dragon god of currents and
                                unleashed a maelstrom of startling ferocity, laughing at the ensuing destruction.
                            </p>
                        </div>
                    </div>

                    <div class='container__slide--item transition'
                        style='background-image: linear-gradient(to left, #00000000, #00000000, #000), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/V/Volibear/Volibear_10.jpg); background-position: 50% 50%;'>
                        <div class='container__slide--content'>
                            <div class='container__slide--name'>Volibear</div>
                            <p>
                                By the time he shattered the massive snake coiled around his neck that bound him within
                                the Shan Hai Scrolls; Volibear's wrath was insurmountable. For each moment that passed
                                within the scrolls reminded him of how he had created the fertile lands those ungrateful
                                humans settled, and how they turned on him. Now Volibear seeks a way out of the scrolls.
                            </p>
                        </div>
                    </div>

                </div>
                <button class="transition"><i class="fa-solid fa-angle-left"></i></button>
            </div>
        </section>
    </main>

    <footer id="footer"></footer>
</body>

</html>
<script src="../../Assets/Javascript/function.js"></script>
<script src="../../Assets/Javascript/load-header-footer.js"></script>
<script>
    $('.slide__video>video').addEventListener('ended', function () {
        this.style.display = 'none';
    });

    $('.video__main>button').onclick = function () {
        this.style.visibility = 'hidden';
        setTimeout(() => {
            $('.video__main>video').play();
        }, 300)
    }
    $('.video__main>video').addEventListener("play", function () {
        $('.video__main>video').controls = true;
    });

    $('.container__main button').addEventListener('click', function () {
        const items = $$('.container__slide--item');
        $('.container__slide').prepend(items[items.length - 1]);
    });

    function chooseItem() {
        const slideContainer = $('.container__slide');
        const items = $$('.container__slide--item');
        items.forEach((element, index) => {
            let temp;
            element.onclick = function () {
                if (index != 0) {
                    temp = index - 1;
                } else {
                    temp = items.length - 1;
                }
                slideContainer.appendChild(items[temp]);
                slideContainer.style.backgroundPosition = items[index].style.backgroundPosition;
                slideContainer.style.backgroundImage = items[temp].style.backgroundImage
            }
        });
    }
    chooseItem();
</script>