<a class='logo-lol-header' href='./dashboard.html'
    style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Icon/League_of_Legends_icon.svg);"></a>
<h3 class='lol-universe'>Universe</h3>
<div id='border-nav' class='border-nav'>
    <ul id='nav' class='nav'>
        <li><a href='./dashboard.html'>HOME</a>
            <div class='heading-border'></div>
        </li>
        <li><a href='./champions.php'>CHAMPIONS</a>
            <div class='heading-border'></div>
        </li>
        <li><a href='./regions.php'>REGIONS</a>
            <div class='heading-border'></div>
        </li>
        <li class='nav-item'>
            <a>ALT UNIVERSE
                <i class='nav-arrow-down fa-solid fa-sort-down'></i>
            </a>
            <ul class='subnav'>
                <li><a href="./kda.html">K/DA</a></li>
                <li><a href="./mythmaker.html">Mythmaker</a></li>
                <li><a href="./shan-hai-srcolls.html">Shan Hai Scrolls</a></li>
            </ul>
            <div class='heading-border'></div>
        </li>
        <li class='nav-item'>
            <a>MORE
                <i class='nav-arrow-down fa-solid fa-sort-down'></i>
            </a>
            <ul class='subnav'>
                <li>
                    <a target="_blank" rel="noopener noreferrer"
                        href='https://www.leagueoflegends.com/en-us/?utm_medium=card1%2Bplayruneterra.com&utm_source=riotbar'>
                        Riot Games
                    </a>
                </li>
                <li>
                    <a target="_blank" rel="noopener noreferrer" href='./admin.php'>
                        Manager
                    </a>
                </li>
            </ul>
            <div class='heading-border'></div>
        </li>
    </ul>
</div>
<button id='menubar-btn' class='menubar-btn'><i class='fa-solid fa-bars'></i></button>
<button id='menubar-btn-close' class='menubar-btn-close menubar-btn'><i class='fa-solid fa-xmark'></i></button>