#slide {
    height: calc(100vh - 80px);

    .slide__splashArt {
        div {
            background-image: radial-gradient(transparent 20% , #000 90%);
        }
    }

    .slide__title {
        animation: slideShow 0.3s ease-in-out forwards;
        background-image: linear-gradient(to bottom, #00000000, #000000c6, #000000);

        h1 {
            color: rgb(103, 71, 31);
            letter-spacing: 1.5vw;
            background: -webkit-linear-gradient(bottom, rgb(103, 71, 31), rgb(203, 172, 98)) text;
            -webkit-text-fill-color: transparent;
        }

        h3 {
            color: var(--color1-);
        }
    }
}

h5 {
    font-size: 12px;
    margin: 0;
    color: var(--color3-);
}

h6 {
    font-size: 14px;
    margin: 0;
    color: var(--color1-);
}

#container {
    background-image: radial-gradient(ellipse closest-side at 50% 35%, #1b2528, #0a0a0c);

    .container__border {
        padding: 10% 8% 5%;

        .container__col {

            .col__head {
                height: 15%;
            }

            .col__body {
                height: 85%;
            }

            .col__item {
                background-color: #111318;
                border: 1px solid var(--color4-);
            }
        }

        .col__1 {
            .col__1--body {
                &::-webkit-scrollbar {
                    width: 5px;
                }

                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }

                &:hover::-webkit-scrollbar-thumb {
                    background-color: #93734166;
                }

                .relations__border {
                    height: max-content;

                    gap: 5vh;

                    .relation__item {
                        height: 125px;
                        width: 115px;

                        .relation__item--img {
                            width: 115px;
                            height: 115px;
                            background: linear-gradient(to bottom, #644811, #fff, #644811);

                            img {
                                height: 95%;
                                width: 95%;
                            }
                        }

                        h6 {
                            opacity: 0;
                        }

                        &:hover {
                            transform: scale(1.2);

                            h6 {
                                opacity: 1;
                            }
                        }

                    }
                }
            }
        }

        .col__2 {
            .col__2--head {
                height: 35%;

                .avatar {
                    top: calc(-130px / 2);
                    left: calc(50% - 130px / 2);
                    height: 130px;
                    width: 130px;
                    background-size: contain;
                    border-radius: 50%;
                    background-color: #111318;

                    .avatar__img {
                        height: 65%;
                        width: 65%;
                        border-radius: 50%;
                        border: 1px solid var(--color1-);
                    }
                }

                .voice {
                    margin-top: calc(130px / 2);

                    h5,
                    h6 {
                        font-size: 20px;
                    }
                }
            }

            .col__2--body {
                height: 65%;
                min-height: max-content;

                h6 {
                    width: 80%;
                    font-size: 16px;
                    text-align: justify;
                    line-height: 1.4;

                    &::first-letter {
                        font-size: 30px;
                        margin: 15px;
                        padding: 0 10px;
                        border-bottom: 5px solid var(--color3-);
                    }
                }
            }
        }

        .col__3 {
            .col__3--head {
                .role {
                    border-left: 1px solid var(--color4-);
                }
            }

            .col__3--body {
                a {
                    height: 15%;
                    border-top: 1px solid var(--color4-);
                    background-color: #111318;

                    .region {
                        border-right: 1px solid var(--color4-);
                    }
                }

                &:hover {
                    transform: scale(1.1);
                    box-shadow: 0px 0px 20px rgb(0, 0, 0);

                    .col__3--background {
                        img {
                            transform: translateY(-10px);
                        }
                    }
                }
            }
        }
    }
}

#splashArt {
    height: max-content;
    padding-bottom: 10vh;

    .splashArt__head {
        min-height: fit-content;
        i {
            color: var(--color3-);
            font-size: 28px;
        }

        h1 {
            font-size: 18px;
            color: var(--color3-);

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 15vw;
                height: 1px;
                top: 45%;
            }

            &::before {
                right: 130%;
                background: linear-gradient(to left, var(--color2-), transparent);
            }

            &::after {
                left: 130%;
                background: linear-gradient(to right, var(--color2-), transparent);
            }
        }
    }

    .splashArt__body {
        width: 93%;
        height: max-content;

        .splashArt__frame {
            height: 60vw;

            img {
                opacity: 0;
            }

            img.active {
                opacity: 1;
            }
        }

        .splashArt__list {
            height: 15vw;
            width: 88%;

            &::-webkit-scrollbar {
                height: 4px;
            }

            &::-webkit-scrollbar-track {
                background-color: rgb(227, 227, 227);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color1-);
            }

            .splashArt__list--border {
                width: max-content;
                gap: 20px;

                button {
                    height: 70%;
                    width: 15vw;
                    min-width: 15vw;
                    gap: 10px;

                    img {
                        height: 90%;
                    }

                    h5 {
                        height: 10%;
                        font-size: 1vw;
                        text-wrap: none;
                    }
                }

                button.active {
                    transform: scale(0.95);

                    img {
                        border: 5px solid var(--color2-);
                    }
                }
            }
        }
    }
}

@keyframes slideShow {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
        opacity: 1;
        ;
    }
}

@media (min-width: 1025px) {
    #slide {
        .slide__title {
            h1 {
                font-size: 6vw;
            }

            h3 {
                font-size: 1vw;
            }
        }
    }

    #container {
        height: 110vh;
        .container__border {
            grid-template-columns: 3fr 7fr 3fr;
            grid-template-rows: 1fr;
        }
    }

    #splashArt {
        .splashArt__head {
            height: 20vh;
        }
    }
}

@media (max-width: 1024px) {
    #slide {
        .slide__title {
            h1 {
                font-size: 40px;
            }

            h3 {
                font-size: 16px;
            }
        }
    }

    #container {
        height: max-content;
        .container__border {
            margin-top: 10vh;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;

            .col__1 {
                display: none !important;
            }
        }
    }

    #splashArt {
        .splashArt__head {
            height: 10vh;
        }
    }
}