#main {
    position: relative;
    min-height: 100vh;
    height: max-content;

    &>.background {
        z-index: 0;
        position: absolute;
        top: 0;
        left: 5%;
        height: 100vh;
        width: 90%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    &>.main__list {
        position: relative;
        height: 100%;
        width: 100%;
        margin-bottom: 10vh;

        &>.main__list--head {
            margin-bottom: 5vh;
            height: 30vh;
            width: 100%;
            display: flex;
            gap: 1vh;
            flex-direction: column;
            align-items: center;
            justify-content: end;

            &>img {
                width: 20px;
            }

            &>div {
                position: relative;
                text-transform: uppercase;
                font-size: 28px;
                letter-spacing: 0.5vw;
                color: var(--text-color-);

                &::before,
                &::after {
                    position: absolute;
                    content: "";
                    width: 15vw;
                    height: 1px;
                    top: 45%;
                }

                &::before {
                    right: 130%;
                    background-image: linear-gradient(to left, var(--color1-), #00000000);
                }

                &::after {
                    left: 130%;
                    background-image: linear-gradient(to right, var(--color1-), #00000000);
                }
            }
        }

        &>.main__list--body {
            height: max-content;
            min-height: 100vh;

            &>.item {
                display: flex;
                text-decoration: none;

                &>.item__img {
                    height: 100%;
                    background-repeat: no-repeat;
                }

                &>.item__inf,
                &>.item__explore {
                    display: flex;
                    text-transform: uppercase;
                    align-items: center;
                    justify-content: center;
                    letter-spacing: 0.1vw;
                    gap: 1.5vh;
                }

                &>.item__inf {
                    flex-direction: column;

                    &>h3 {
                        color: var(--border-color-);
                    }

                    &>h5 {
                        color: var(--text-color-);
                    }
                }

                &>.item__explore {
                    flex-direction: row;

                    &>h5,
                    &>i {
                        color: var(--border-color-);
                    }
                }
            }
        }
    }

    &>.search {
        z-index: 1;
        position: sticky;
        top: calc(70px + 6vh);
        height: 90px;
        width: 100%;
        background-color: #121212;

        &>.search__border {
            margin: auto;
            height: 100%;
            width: 80%;
            display: flex;
            align-items: center;

            &>img {
                height: 40%;
                width: 5%;
                object-fit: contain;
                margin-right: 1vw;
            }

            &>input,
            & select {
                font-size: 100%;
                width: 40%;
                background-color: #00000000;
                border: none;
                color: var(--text-color-);
                font-family: 'Courier New', Courier, monospace;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 0.2vw;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--border-color2-);
                }
            }

            &>i {
                margin-left: 20%;
                width: 5%;
                color: var(--border-color-);
                font-size: 20px;
            }

            &>select {
                cursor: pointer;
                width: 15%;
                background-color: #121212;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
    }
}

@media (min-width: 769px) {
    #main {
        &>.main__list {
            &>.main__list--body {
                margin: auto;
                width: 85%;
                display: grid;
                grid-auto-rows: 60vh;
                row-gap: 5vh;
                column-gap: 1vw;
                grid-template-columns: repeat(5, 1fr);

                &>.item {
                    position: relative;
                    overflow: hidden;
                    border: 1px solid #000000;

                    &>.item__img {
                        width: 100%;
                        background-size: cover;
                    }

                    &:hover {
                        transform: scale(1.1);
                        border: 1px solid var(--border-color-);

                        &>.item__inf {
                            bottom: 12%;
                        }

                        &>.item__explore {
                            bottom: 0%;
                        }
                    }

                    &>.item__inf,
                    &>.item__explore {
                        position: absolute;
                        bottom: 0%;
                        left: 0;
                        right: 0;
                        height: 18%;
                        background-color: #0a0a0ae6;
                        gap: 1.5vh;
                        font-size: 14px;
                        border-top: 1px solid var(--border-color-);
                    }

                    &>.item__explore {
                        height: 12%;
                        bottom: -12%;
                        letter-spacing: 0.2vw;

                        &:hover>i {
                            animation: animatedView 0.5s ease-in-out normal;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #main {
        .main__list {
            &>.main__list--body {
                width: 100%;
                display: flex;
                flex-direction: column;

                &>.item {
                    height: 12vh;
                    width: 100%;
                    background-color: #171717;

                    &:hover {
                        &>.item__explore>i {
                            animation: animatedView 0.5s ease-in-out normal;
                        }

                        &>.item__img {
                            filter: grayscale(50%);
                            opacity: 0.6;
                        }
                    }

                    &:nth-child(even) {
                        background-color: #121212;
                    }

                    &>.item__img {
                        width: 20%;
                        background-size: 200%;
                    }

                    &>.item__inf,
                    &>.item__explore {
                        font-size: 16px;
                    }

                    &>.item__inf {
                        width: 50%;
                        height: 100%;
                    }

                    &>.item__explore {
                        width: 30%;
                        height: 100%;
                    }
                }
            }
        }
    }
}