#slide {
    height: calc(100vh - 80px);

    .slide__splashArt {
        div {
            background-image: radial-gradient(transparent 20%, #000 90%);
        }
    }

    .slide__title {
        animation: slideShow 0.3s ease-in-out forwards;
        background-image: linear-gradient(to bottom, #00000000, #000000c6, #000000);

        h1 {
            color: rgb(103, 71, 31);
            letter-spacing: 1.5vw;
            background: -webkit-linear-gradient(bottom, rgb(103, 71, 31), rgb(203, 172, 98)) text;
            -webkit-text-fill-color: transparent;
        }

        h3 {
            color: var(--color1-);
        }
    }
}

h5 {
    font-size: 12px;
    margin: 0;
    color: var(--color3-);
}

h6 {
    font-size: 14px;
    margin: 0;
    color: var(--color1-);
}

#container {
    height: max-content;
    min-height: 110vh;
    background-image: radial-gradient(ellipse closest-side at 50% 35%, #1b2528, #0a0a0c);

    .container {
        .row {
            .col__item {
                .col__head {
                    height: 80px;
                }
                .col__body {
                    height: calc(100% - 80px);
                }
            }
        }
    }
}

.col__bg {
    background-color: #111318;
    border: 1px solid var(--color4-);
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: #93734166;
    }
}

#splashArt {
    height: max-content;
    padding-bottom: 10vh;

    .splashArt__head {
        min-height: fit-content;

        i {
            color: var(--color3-);
            font-size: 28px;
        }

        h1 {
            font-size: 18px;
            color: var(--color3-);

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 15vw;
                height: 1px;
                top: 45%;
            }

            &::before {
                right: 130%;
                background: linear-gradient(to left, var(--color2-), transparent);
            }

            &::after {
                left: 130%;
                background: linear-gradient(to right, var(--color2-), transparent);
            }
        }
    }

    .splashArt__body {
        width: 93%;
        height: max-content;

        .splashArt__frame {
            height: 60vw;

            img {
                opacity: 0;
            }

            img.active {
                opacity: 1;
            }
        }

        .splashArt__list {
            height: 15vw;
            width: 88%;

            &::-webkit-scrollbar {
                height: 4px;
            }

            &::-webkit-scrollbar-track {
                background-color: rgb(227, 227, 227);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color1-);
            }

            .splashArt__list--border {
                width: max-content;
                gap: 20px;

                button {
                    height: 70%;
                    width: 15vw;
                    min-width: 15vw;
                    gap: 10px;

                    img {
                        height: 90%;
                    }

                    h5 {
                        height: 10%;
                        font-size: 1vw;
                        text-wrap: none;
                    }
                }

                button.active {
                    transform: scale(0.95);

                    img {
                        border: 5px solid var(--color2-);
                    }
                }
            }
        }
    }
}

@keyframes slideShow {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
        opacity: 1;
        ;
    }
}

@media (min-width: 768px) {
    #slide {
        .slide__title {
            h1 {
                font-size: 6vw;
            }

            h3 {
                font-size: 1vw;
            }
        }
    }


    #splashArt {
        .splashArt__head {
            height: 20vh;
        }
    }
}

@media (max-width: 991px) {
    #container {
        .container {
            .col__1 {
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    #slide {
        .slide__title {
            h1 {
                font-size: 40px;
            }

            h3 {
                font-size: 16px;
            }
        }
    }



    #splashArt {
        .splashArt__head {
            height: 10vh;
        }
    }
}