#filter {
    top: calc(80px + 6vh);
    height: 90px;
    background-color: #121212;

    .container {

        h1,
        i {
            color: var(--color3-);
        }

        input,
        select {
            font: 16px 'Courier New', Courier, monospace;
            color: var(--color1-);
        }

        input {
            &:focus {
                outline: none;
            }

            &::placeholder {
                color: var(--color4-);
            }
        }

        select {
            cursor: pointer;
            width: 15%;
            background-color: #121212;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}

#container {
    .container__head {
        height: 25vh;

        img {
            width: 20px;
        }
    }

    .container__head  h1, .container__body > .row > div > h1 {
        width: max-content !important;
        font-size: 28px;
        color: var(--color1-);

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 15vw;
            height: 1px;
            top: 45%;
        }

        &::before {
            right: 130%;
            background: linear-gradient(to left, var(--color2-), transparent);
        }

        &::after {
            left: 130%;
            background: linear-gradient(to right, var(--color2-), transparent);
        }

    }

    .container__body {
        .item {
            border: 1px solid transparent;

            &:nth-child(even) {
                background-color: #121212;
            }

            &:nth-child(odd) {
                background-color: #1b1b1b;
            }

            .item__more {

                h1,
                i {
                    color: var(--color3-);
                }

                h2 {
                    color: var(--color1-);
                }
            }

            &:hover {
                border-color: var(--color3-);
            }
        }
    }
}

@media (min-width: 1200px) {
    #container .container__body {
        .item {
            height: 423.4px;
        }
    }
}

@media (min-width: 768px) {
    #container .container__body {
        .item {
            &:hover {
                transform: scale(1.1);

                .item__more {
                    bottom: 0;

                    .item__more--explore {
                        border-top: 1px solid var(--color3-);
                    }
                }
            }

            .item__more {
                flex-direction: column;
                bottom: calc(-1em - 2rem);

                div {
                    width: 100%;
                    background-color: #0a0a0ce6;
                }

                .item__more--inf {
                    border-top: 1px solid var(--color3-);
                }

                .item__more--explore {
                    border-top: 1px solid transparent;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    #container .container__body {
        .item {
            height: 323.4px;
        }
    }
}

@media (max-width: 768px) {
    #filter {
        display: none;
    }

    #container .container__body {
        .item {
            .item__more {
                right: 0;
            }
        }
    }
}