#main {
    height: 100vh;

    div {
        top: 25%;

        img {
            width: 30%;
        }

        button {
            background-color: #00000000;
            height: 10vh;
            width: 15vw;

            a {
                background-color: var(--color1-);
                width: 95%;
                height: 95%;
                font-size: 18px;
                line-height: calc(10vh * 90 / 100);

                &:hover {
                    background-color: beige;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #main>div {
        img {
            width: 80%;
        }
        button{
            height: 10vh;
            width: 80vw;
        }
    }
}