#main {
    div button a {
        &:hover {
            background-color: beige !important;
        }
    }
}

@media (min-width: 1025px) {
    #main>div {
        img {
            width: 30%;
        }

        button {
            height: 10vh;
            width: 20vw;
        }
    }
}

@media (max-width: 1024px) {
    #main>div {
        img {
            width: 70%;
        }

        button {
            height: 10vh;
            width: 50vw;
        }
    }
}