#main {
    div button a {
        &:hover {
            background-color: beige !important;
        }
    }
}

@media (min-width: 769px) {
    #main>div {
        img {
            width: 30%;
        }

        button {
            height: 10vh;
            width: 15vw;
        }
    }
}

@media (max-width: 768px) {
    #main>div {
        img {
            width: 80%;
        }

        button {
            height: 10vh;
            width: 80vw;
        }
    }
}