#header {
    font-family: Arial, sans-serif;
    position: fixed;
    color: #fff;
    background-color: #111111;
    height: 70px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    .navbar-brand {
        width: 40px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        :hover {
            opacity: 0.8;
        }
    }

    h3 {
        line-height: 70px;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: 900;
        margin: 0 20px;
    }

    .navbar-nav {
        background-color: #111111;
    }

    .nav-item {
        padding-top: 4px;
        height: 90%;

        p,
        .nav-link {
            border-bottom-width: 4px;
            border-bottom-style: solid;
            border-bottom-color: #00000000;
            letter-spacing: 1px;
            font-weight: 600;
            font-size: 13px;
        }

        p {
            border-radius: 8px;
        }
    }
}

@media (min-width: 992px) {
    .nav-item:hover .nav-link {
        border-bottom-color: #0BC4E2 !important;

        p {
            background-color: #323232 !important;
        }
    }

    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
        margin-top: 0;
    }

    .navbar-nav {
        position: absolute;
        height: 100%;
        align-items: center;
    }

}

@media(max-width: 992px) {
    .nav-item {
        p {
            padding: 0 !important;
        }
    }

    .footer-socials-list>a {
        margin: 0 2vw;
        font-size: 5vw;
    }
}

#footer {
    z-index: 5;
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #000;

    .take {
        margin-top: 5vh;
        height: 15vh;
        background-color: #1f1f1f;

        a {
            color: var(--color2-);
        }
    }

    .made {
        height: 30vh;

        .socials-list {
            a {
                font-size: 30px;
                color: #fff;

                :hover {
                    opacity: 0.8;
                }
            }
        }

        .powerBy {
            a {
                color: var(--color2-);
            }
        }
    }
}