p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    color: #fff;
}

.button {
    height: 50px;
    width: 50px;
}

section {
    min-height: 50vh;
    height: max-content;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.header {
    height: max-content;
    width: 100%;
    text-transform: uppercase;

    p {
        font-weight: bold;
        color: var(--color3-);
    }

    h2 {
        font-weight: bold;
        color: #fff;
    }
}

.myContainer {
    width: 100%;
    height: max-content;

    .myContainer__border {
        margin: auto;
        height: 100%;
    }
}

#slide {
    padding-top: 0;
    min-height: calc(100vh - 80px);

    .slide__title {
        animation: slideShow 0.3s ease-in-out forwards;

        img {
            transform: translateY(10%);
            max-width: 65%;
        }
    }
}

#music-video {
    .myContainer {
        .myContainer__border {
            border: 2px solid var(--color2-);

            video {
                z-index: 0;
                position: relative;
                height: 100%;
                width: 100%;
                object-fit: cover;
                background-color: #000;
            }

            button {
                z-index: 2;
                position: absolute;
                top: calc((100% - 50px) / 2);
                left: calc((100% - 50px) / 2);
                font-size: 18px;
                color: var(--color2-);
                background-color: #000;
                border: 2px solid var(--color2-);

                &:hover {
                    color: #000;
                    background-color: var(--color2-);
                }
            }
        }
    }
}

#members {
    padding: 0;

    .members__border {
        width: 90%;

        .members__img {
            div {
                opacity: 0;
                background-position: top right;
            }

            div.active {
                opacity: 1;
            }
        }

        .members__avatar {
            button {
                opacity: 0.6;
                border: 2px solid #00000000;

                &>div {
                    padding: 3px;
                    border: 2px solid #00000000;
                    height: 102px;
                    width: 86px;
                    transform-origin: 0 100%;
                    transform: skewX(-20deg);

                    &>div {
                        border: 2px solid #000;
                        height: 100%;
                        overflow: hidden;

                        &>div {
                            height: 100%;
                            transform-origin: 0 100%;
                            transform: skewX(20deg);
                            width: calc(100% + 32px);
                            background: 50% /cover no-repeat;
                        }
                    }
                }

                &.active {
                    opacity: 1;

                    &>div {
                        border-color: var(--color5-);

                        &>div {
                            border-color: var(--color5-);
                        }
                    }
                }

                &:hover>div>div {
                    border-color: #fff;
                }
            }
        }

        .members__inf--item {
            p {
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 1px;
                font-size: 12px;
                color: var(--color5-);
            }

            h1 {
                text-transform: uppercase;
                font-weight: bold;
                font-style: italic;
                letter-spacing: 1px;
                font-size: 14px;
                color: white;
            }
        }

        .members__inf {
            height: 100vh;
            width: 360px;

            .members__inf--name {
                h1 {
                    font-size: 60px;
                }
            }

            .members__inf--more {
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr;
            }

            .members__inf--tabs {
                font-size: 14px;

                .tabs__inf {
                    height: 50px;

                    li {
                        button {
                            color: #fff;
                            font-size: 12px;
                            background-color: transparent;
                            border: 2px solid var(--color5-);
                        }

                        button.active {
                            color: #000;
                            background-color: var(--color5-);
                        }
                    }
                }

                .tabs__text {
                    >li {
                        display: none;
                    }

                    >li.active {
                        display: block;
                    }
                }
            }
        }
    }
}

#more {

    .myContainer {
        .myContainer__border {
            .card__item {

                .card__head {
                    h2 {
                        font-size: 24px;
                    }
                }

                .card__body {
                    background-color: #1e1b2c;

                    button {
                        background-color: transparent;

                        div {
                            color: #fff;
                        }
                    }
                }

                &:hover {
                    .card__body {
                        button {
                            background-color: var(--color5-) !important;

                            div {
                                color: #000;
                            }
                        }
                    }
                }
            }
        }
    }
}

#splashArt {

    .myContainer {
        .myContainer__border {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            width: 80%;
            height: 80vh;

            &:hover .splashArt__item {
                filter: grayscale(100%) opacity(24%);
            }

            & .splashArt__item:hover {
                filter: grayscale(0%) opacity(100%);
            }

            &:has(.splashArt__item0:hover) {
                grid-template-columns: 4fr 1fr 1fr 1fr;
            }

            &:has(.splashArt__item1:hover) {
                grid-template-columns: 1fr 4fr 1fr 1fr;
            }

            &:has(.splashArt__item2:hover) {
                grid-template-columns: 1fr 1fr 4fr 1fr;
            }

            &:has(.splashArt__item3:hover) {
                grid-template-columns: 1fr 1fr 1fr 4fr;
            }
        }
    }
}


#gallery {
    .myContainer {
        .myContainer__border {

            &::-webkit-scrollbar {
                height: 5px;
            }

            &::-webkit-scrollbar-track {
                background-color: var(--color4-);
            }

            &::-webkit-scrollbar-thumb {
                background-color: var(--color5-);
            }

            #galleryList {
                width: max-content;
                padding: 20px;

                button {
                    height: 150px;
                    width: 150px;
                    border: 1px solid var(--color5-);

                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: top;
                    }

                    &:hover {
                        border: 1px solid #fff;
                    }
                }
            }
        }

        #galleryShow {
            display: none;
            z-index: 6;
            top: 80px;
            background-color: #000000d6;

            .galleryShow__border {
                border-bottom: 1px solid var(--color2-);
                border-top: 1px solid var(--color2-);

                img {
                    border-right: 1px solid var(--color2-);
                    border-left: 1px solid var(--color2-);
                }
            }

            &.active {
                display: flex;
            }
        }
    }
}

@media (min-width: 1025px) {
    .header {
        width: 65%;
    }

    .myContainer {
        .myContainer__border {
            width: 65%;
        }
    }

    #music-video,
    #more,
    #splashArt {
        gap: 10vh;
    }

    #slide {
        .slide__title {
            p {
                width: 50%;
            }
        }
    }

    #members {
        height: 150vh;

        .members__border {

            .members__avatar {
                top: 10%;
                right: 0;
            }

            .members__inf {
                bottom: 5%;
                right: 0;
            }
        }
    }

    #more {

        .myContainer {
            .myContainer__border {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;

                .card__item {
                    width: 275px;

                    .card__body {
                        height: 460px;

                        img {
                            height: 160px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        width: 90%;
    }

    .myContainer {
        .myContainer__border {
            width: 90%;
        }
    }

    #slide {
        .slide__title {
            p {
                width: 90%;
            }
        }
    }

    #members {
        height: 200vh;

        .members__border {
            margin: auto;

            .members__img {
                div {
                    margin-top: 25%;
                    height: 50% !important;
                    background-position: center;
                }
            }

            .members__avatar {
                width: 100%;
                top: 0;
                right: 0;
                transform: scale(0.6);
            }

            .members__inf {
                width: 100%;
                bottom: 0;
                right: 0;
            }
        }
    }

    #splashArt {

        .myContainer {
            .myContainer__border {
                height: 50vh;
            }
        }
    }
}