#slide {
    height: calc(100vh - 80px);

    .slide__splashArt {
        div {
            background-image: radial-gradient(transparent 20%, #000 90%);
        }
    }

    .slide__title {
        animation: slideShow 0.3s ease-in-out forwards;
        background-image: linear-gradient(to bottom, #00000000, #000000c6, #000000);

        h1 {
            color: rgb(103, 71, 31);
            letter-spacing: 1.5vw;
            background: -webkit-linear-gradient(bottom, rgb(103, 71, 31), rgb(203, 172, 98)) text;
            -webkit-text-fill-color: transparent;
        }
    }
}

#story {
    height: max-content;
    padding-top: 5vh;

    p {
        color: var(--color1-);
        line-height: 1.4;
        text-align: justify;


        &::first-letter {
            display: block;
            float: left;
            font-size: 2.7em;
            padding: 6px;
            margin-right: 10px;
            line-height: 1;
            font-weight: bold;
            border-bottom: 3px solid var(--color3-);
        }
    }
}

#container {
    .container__head {
        height: 25vh;

        img {
            width: 20px;
        }

        img:last-child {
            height: 200%;
            filter: grayscale(100%);
            opacity: 0.6;
        }

        h1 {
            font-size: 18px;
            color: var(--color1-);

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 15vw;
                height: 1px;
                top: 45%;
            }

            &::before {
                right: 130%;
                background: linear-gradient(to left, var(--color2-), transparent);
            }

            &::after {
                left: 130%;
                background: linear-gradient(to right, var(--color2-), transparent);
            }
        }
    }

    .container__body.active {
        opacity: 1;
        transform: translateY(0);
    }

    .container__body {
        opacity: 0;
        transform: translateY(20%);
        transition: all 600ms ease-out;

        .item {
            display: none;
            border: 1px solid transparent;

            &.active {
                display: block;
            }

            .item__more {

                h1,
                i {
                    font-size: 14px;
                    color: var(--color3-);
                }

                h2 {
                    font-size: 12px;
                    color: var(--color1-);
                }
            }

            &:hover {
                border-color: var(--color3-);
            }
        }
    }

    .container__more.active {
        display: none;
    }

    .container__more {
        z-index: 3;
        background-color: #000000c3;

        button {
            background-color: #111318;
            border: 2px solid var(--color3-);

            p {
                color: var(--color3-);
            }

            &:hover {
                background-color: #000000;
            }
        }
    }
}

@media (min-width: 1025px) {
    #slide {
        .slide__title {
            h1 {
                font-size: 6vw;
            }
        }
    }

    #story {
        width: 35%;
    }

    #container {
        .container__body {
            width: 85%;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-rows: 60vh;
            row-gap: 5vh;
            column-gap: 1vw;

            .item {
                flex-direction: column;

                .item__img {
                    width: 100%;
                }

                .item__more {
                    bottom: -12%;
                    width: 100%;
                    height: 30%;
                    flex-direction: column;
                    background-color: #0a0a0ae7;

                    .item__more--inf,
                    .item__more--explore {
                        width: 100%;
                    }

                    .item__more--inf {
                        height: 60%;
                        border-top: 1px solid var(--color3-);
                    }

                    .item__more--explore {
                        height: 40%;
                        border-top: 1px solid transparent;
                    }
                }

                &:hover {
                    transform: scale(1.1);

                    .item__more {
                        bottom: 0;

                        .item__more--explore {
                            border-top: 1px solid var(--color3-);
                        }

                        .item__more--explore:hover>i {
                            animation: animatedView 0.5s ease-in-out;
                        }
                    }
                }
            }
        }

        .container__more {
            height: 60vh;

            button {
                width: 30%;
                height: 70px;
            }
        }
    }
}

@media (max-width: 1024px) {
    #slide {
        .slide__title {
            h1 {
                font-size: 40px;
            }
        }
    }

    #story {
        width: 90%;
    }

    #container {

        .container__body {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: minmax(100px, 10vh);

            .item {
                justify-content: space-around;

                &:nth-child(even) {
                    background-color: #121212;
                }

                &:nth-child(odd) {
                    background-color: #1b1b1b;
                }

                .item__img {
                    width: 30%;
                }

                .item__more {
                    top: 0;
                    right: 0;
                    width: 65%;
                    height: 100%;

                    .item__more--inf,
                    .item__more--explore {
                        width: 50%;
                        height: 100%;
                    }
                }
            }
        }

        .container__more {
            min-height: 200px;
            max-height: 20vh;

            button {
                width: 70%;
                height: 70px;
            }
        }
    }
}