#theme {
    div {
        background-color: rgba(0, 0, 0, 0.8);
    }
}

#title {
    height: 40vh;
    width: 90%;

    h1 {
        font-size: 60px;
    }
}

#container {
    width: 90%;
    height: max-content;
    grid-auto-rows: 200px;
    gap: 2vw;

    a {
        border: 1px solid var(--color4-);

        img:first-child {
            background-image: linear-gradient(#000000);
        }

        div:nth-child(2) {
            background-color: rgba(0, 0, 0, 0.5);
        }

        img:nth-child(3) {
            top: 10%;
            opacity: 1;
        }

        div:last-child {
            background-color: #10141e;

            h3 {
                color: var(--color1-);
                font-size: 24px;
            }
        }

        &:hover {
            border: 1px solid var(--color1-);

            div:nth-child(2) {
                background-color: rgba(0, 0, 0, 0);
            }

            img:nth-child(3) {
                opacity: 0;
            }
        }
    }
}

@media (max-width: 480px) {
    #container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    #container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    #container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1025px) {
    #container {
        grid-template-columns: repeat(4, 1fr);
    }
}