@font-face {
    font-family: 'Beaufort for LOL';
    src: url('../Font/BeaufortforLOL-Regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Beaufort for LOL, Arial, sans-serif;
}

body,
html {
    scroll-behavior: smooth;
    background-color: #000;
}

main {
    margin-top: 80px;
    min-height: 100vh;
    width: 100%;
}

section {
    min-height: 100vh;
    width: 100%;
}

button {
    cursor: pointer;
}

a {
    cursor: pointer;
}

.flex__center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.bg-center-cover-norepeat {
    background: center / cover no-repeat;
}

.transition {
    transition: all 300ms ease-in-out;
}

:root {
    --color1-: #c4b998;
    --color2-: #c8aa6e;
    --color3-: #937341;
    --color4-: #31271e;
}

@keyframes animatedView {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(30px);
        opacity: 0;
    }

    75% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}