@font-face {
    font-family: 'Beaufort for LOL';
    src: url('../Font/BeaufortforLOL-Regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Beaufort for LOL, Arial, sans-serif;
}

body,
html {
    scroll-behavior: smooth;
    background-color: #000;
}

main {
    margin-top: 80px;
    min-height: 100vh;
    width: 100%;
    padding-bottom: 10vh;
}

img {
    -webkit-user-drag: none;
    user-select: none;
}

button,
select,
a {
    cursor: pointer;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vh-25 {
    height: 25vh;
}

.vh-50 {
    height: 50vh;
}

.vh-75 {
    height: 75vh;
}

.letter-spacing-1 {
    letter-spacing: 1px;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.letter-spacing-3 {
    letter-spacing: 3px;
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.bg-center-cover-norepeat {
    background: center / cover no-repeat;
}

.transition {
    transition: all 300ms ease-in-out;
}

:root {
    --color1-: #c4b998;
    --color2-: #c8aa6e;
    --color3-: #937341;
    --color4-: #31271e;
    --color5-: #e5b48f;
    --color6-: #121212;
}

.text-color-1 {
    color: var(--color1-);
}

.text-color-2 {
    color: var(--color2-);
}

.text-color-3 {
    color: var(--color3-);
}

/* ---------------------------------------------------------- */

@keyframes animatedView {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(30px);
        opacity: 0;
    }

    75% {
        transform: translateX(-10px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideShow {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
        opacity: 1;
        ;
    }
}

/*--------------------------------------------------------------------*/

.img__filter {
    filter: brightness(.3) grayscale(100%);
    opacity: 0.5;
}

#slide {
    position: relative;
    width: 100%;
    height: calc(100vh - 80px);
    overflow: hidden;

    .slide__splashArt {
        position: relative;
        height: 100%;
        width: 100%;

        video {
            z-index: 1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        div {
            position: absolute;
            z-index: 2;
            height: 100%;
            width: 100%;
            background-image: radial-gradient(transparent 70%, #000 95%), linear-gradient(to bottom, #00000000, #00000000, #000);
        }
    }

    .slide__title {
        z-index: 2;
        position: absolute;
        width: 100%;
        bottom: 0;
        animation: slideShow 0.3s ease-in-out forwards;
        background-image: linear-gradient(to bottom, #00000000, #000000c6, #000000);

        img {
            object-fit: contain;
            width: 100%;
        }

        h1 {
            font-size: 2.5rem;
            color: rgb(103, 71, 31);
            letter-spacing: 1.5vw;
            background: -webkit-linear-gradient(bottom, rgb(103, 71, 31), rgb(203, 172, 98)) text;
            -webkit-text-fill-color: transparent;
        }

        h3 {
            font-size: 12px;
            margin-top: 1rem;
            letter-spacing: 3px;
            color: var(--color1-);
        }

        h1,
        h3 {
            width: 100%;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
        }
    }
}

.container__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    min-height: 10vh;

    &>img {
        position: relative;
        object-fit: contain;
        max-width: 32px;
        max-height: 32px;
    }

    &>i {
        font-size: 2rem;
        color: var(--color1-);
    }

    &>h1 {
        position: relative;
        text-transform: uppercase;
        letter-spacing: 3px;
        width: max-content;
        font-size: 28px;
        color: var(--color1-);

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 15vw;
            height: 1px;
            top: 45%;
        }

        &::before {
            right: 110%;
            background: linear-gradient(to left, var(--color2-), transparent);
        }

        &::after {
            left: 110%;
            background: linear-gradient(to right, var(--color2-), transparent);
        }
    }
}

.champions__list {
    &>.row {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &>.item {
            position: relative;
            height: 80px;
            padding: 0;
            text-decoration: none;
            border: 1px solid transparent;
            overflow: hidden;

            &:nth-child(even) {
                background-color: #000;
            }

            &:nth-child(odd) {
                background-color: var(--color6-);
            }

            &>img {
                height: 100%;
                width: 20%;
                object-fit: cover;
            }

            & .item__more {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 0;
                left: 30%;
                right: 0;

                &>div {
                    padding: 1rem;
                    width: 100%;
                    text-align: start;
                    font-size: 14px;

                    h1,
                    h2 {
                        letter-spacing: 2px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    h1,
                    span,
                    i {
                        color: var(--color3-);
                        font-size: 14px;

                    }

                    h2 {
                        color: var(--color1-);
                        font-size: 12px;
                    }
                }

                &>div:last-child {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 0.5rem;

                    h1 {
                        margin: 0;
                    }
                }
            }
        }
    }
}

.scrollbar {
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
        background-color: var(--color4-);
    }
}

.paragraph {
    text-align: justify;
    line-height: 1.4;
    color: var(--color1-);
    font-size: 14px;

    &::first-letter {
        font-weight: 500;
        font-size: 44px;
        border-bottom: 3px solid #937341;
        float: left;
        line-height: 1.2;
        margin: -2px 20px 0 18px;
        padding: 0 8px 0 10px;
    }
}

.animationView {
    &:hover span {
        animation: animatedView 0.5s ease;
    }
}

@media (min-width: 576px) {
    /* CSS col-sm */
}

@media (min-width: 768px) {
    /* CSS col-md */

    #slide {
        .slide__title {
            h1 {
                font-size: 6.5rem;
            }
        }
    }

    .champions__list {
        &>.row {
            margin-top: 2rem;
            gap: 1rem;

            &>.item {
                height: 323.4px;

                &:hover {
                    transform: scale(1.1);
                    border-color: var(--color3-);

                    &>.item__more {
                        bottom: 0;
                    }
                }

                &>img {
                    width: 100%;
                }

                &>.item__more {
                    top: auto;
                    left: 0;
                    flex-direction: column;
                    bottom: calc(-2rem - 21px - 1px);
                    background-color: rgba(10, 10, 12, .9);

                    &>div {
                        text-align: center;
                        border-top: 1px solid var(--color3-);
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {
    /* CSS col-lg */
}

@media (min-width: 1200px) {
    /* CSS col-xl */

    .champions__list {
        &>.row {
            &>.item {
                height: 423.4px;
            }
        }
    }
}

@media (min-width: 1400px) {
    /* CSS col-xxl */
}