main#dashboard {

    #latest {
        height: calc(95vh - 80px);

        .ctr {
            .item {
                z-index: 0;
                position: absolute;
                bottom: 0;
                height: 93%;
                width: 100%;
                transform: scale(1) translateZ(0px);
                filter: grayscale(100%) brightness(0.3);
                transition: all 300ms ease-in-out;

                &:nth-child(3) {
                    z-index: 1;
                    filter: grayscale(0%) brightness(1);
                    left: 0;
                    transform: scale(1.2) translateZ(100px);
                }

                &:nth-child(1) {
                    left: -200%;
                }

                &:nth-child(2) {
                    left: -100%;
                }

                &:nth-child(4) {
                    left: 100%;
                }

                &:nth-child(5) {
                    left: 200%;
                }
            }
        }

        .container-fluid {
            overflow: hidden;

            #slideLate {
                height: 70%;
                transform-style: preserve-3d;

                .item {
                    &:nth-child(3) {
                        transform-origin: 50% 100%;
                        transition: left 300ms ease,
                            filter 200ms 200ms ease,
                            transform 200ms 400ms ease-in;
                        box-shadow:
                            -40px 0 40px -5px rgba(0, 0, 0),
                            40px 0 40px -5px rgba(0, 0, 0);
                    }
                }
            }

            #btnLate {
                transform: translateX(-50%);
                top: 40%;

                button {
                    height: 50px;
                    width: 50px;
                    border: 2px solid var(--color2-);

                    div {
                        transform: translate(-50%, -50%);
                        width: 60%;
                        height: 60%;
                        border: 2px solid var(--color2-);

                        svg {
                            color: var(--color2-);
                            font-size: 40px;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            #titleLate {
                transform: translateX(-50%);
                bottom: 4%;
                height: 250px;

                .item {

                    &:nth-child(3) {

                        canvas {
                            opacity: 1;
                        }

                        div {
                            height: 100%;
                            background-color: #00000000;
                        }

                        a {
                            z-index: 3;
                        }

                        &:hover {
                            canvas {
                                filter: brightness(0.8);
                            }
                        }
                    }

                    div {
                        height: 80%;
                        transform: translateY(-50%);
                        background-color: #111318;

                        img {
                            margin-bottom: 15px;
                        }

                        h2 {
                            font-size: 14px;
                            letter-spacing: 4px;
                            color: var(--color1-);
                        }

                        h1 {
                            font-size: 30px;
                            color: var(--color3-);
                        }
                    }

                    canvas {
                        opacity: 0;
                    }
                }
            }
        }
    }

}

main#champions {
    #filter {
        display: none;
        top: calc(80px);
        height: 90px;
        background-color: var(--color6-);

        .container {
            input {
                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: var(--color4-);
                }
            }

            select {
                background-color: var(--color6-);

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    #container {
        &>.container__head {
            height: 40vh;
        }
    }
}

main#champion {
    #container {
        min-height: 110vh;
        height: max-content;
        padding: 10vh 0;
        background-image: radial-gradient(ellipse closest-side at 50% 35%, #1b2528, #0a0a0c);

        .container {
            .row {
                .col__item {
                    height: 60vh;

                    .col__head {
                        height: 80px;
                    }

                    .col__body {
                        height: calc(100% - 80px);
                    }

                    h5,
                    i {
                        color: var(--color3-);
                    }

                    h6 {
                        color: var(--color1-);
                    }

                    p {
                        color: var(--color1-);
                    }
                }

                .col__1 {
                    display: none;

                    h5 {
                        color: var(--color1-);
                    }

                    .col__body {
                        div {
                            ul {
                                li {
                                    height: 150px;

                                    &:hover {
                                        a {
                                            &>div {
                                                transform: scale(1.1);
                                            }

                                            h5 {
                                                opacity: 1;
                                            }
                                        }
                                    }

                                    a {
                                        h5 {
                                            opacity: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .col__2 {
                    .col__head {
                        height: 40%;

                        .img {
                            top: calc(-122px / 2);
                            left: calc(50% - 122px/2);

                            .border__img {
                                transform: scale(0.7);
                            }
                        }
                    }

                    .col__body {
                        height: 60%;

                        div {
                            p {
                                text-align-last: center;
                            }
                        }
                    }
                }

                .col__3 {
                    .col__body {
                        &>div {
                            &>img {
                                transform: translateY(-40px);
                            }
                        }

                        a {
                            bottom: calc(-2rem - 18px - 1px);
                        }
                    }
                }
            }


        }

        .border__img {
            height: 122px;
            width: 122px;
            /* background-image: -webkit-linear-gradient(top, #3e3310, #c6b98b, #3e3310); */
            background-image: linear-gradient(180deg, #3e3310, #c6b98b, #3e3310);

            &>div {
                height: 95%;
                width: 95%;

                img {
                    transform: scale(2);
                }
            }
        }

        .col__bg {
            background-color: #111318;
            border: 1px solid var(--color4-);
        }
    }

    #splashArt {
        height: max-content;
        padding-bottom: 10vh;

        .container-fluid {

            .splashArt__frame {
                aspect-ratio: 16 / 10;

                img {
                    opacity: 0;
                    height: 0;
                    width: 0;
                }

                img.active {
                    height: 100%;
                    width: 100%;
                    opacity: 1;
                }
            }

            .splashArt__list {

                &::-webkit-scrollbar-track {
                    background-color: var(--color1-);
                }

                &::-webkit-scrollbar-thumb {
                    background-color: var(--color3-);
                }

                .splashArt__list--border {
                    width: max-content;

                    button {
                        height: 80%;
                        width: 10%;
                        min-width: 15vw;

                        div {
                            padding: 5px;
                            width: max-content;
                            height: 80%;
                            border: 1px solid transparent;
                        }

                        h5 {
                            margin-top: 5%;
                            height: 10%;
                        }
                    }

                    button.active {
                        div {
                            border: 1px solid var(--color3-);
                        }
                    }
                }
            }
        }
    }

    #model {
        .container {
            button {
                height: 50px;
                border: 1px solid var(--color3-);
                background-color: transparent;

                a {
                    line-height: 50px;
                }

                &:hover {
                    background-color: #111318;
                }
            }
        }
    }
}

main#regions {
    #theme {
        div {
            background-color: rgba(0, 0, 0, 0.8);
        }

        img {
            object-position: center;
        }
    }

    #title {
        height: 40vh;

        h1 {
            font-size: 4rem;
        }
    }

    #container {
        .row {
            &>div {
                height: 200px;

                a {
                    border: 1px solid var(--color4-);

                    img:first-child {
                        background-image: linear-gradient(#000000);
                    }

                    div:nth-child(2) {
                        background-color: rgba(0, 0, 0, 0.5);
                    }

                    img:nth-child(3) {
                        top: 10%;
                        opacity: 1;
                    }

                    div:last-child {
                        background-color: var(--color6-);

                        h3 {
                            color: var(--color1-);
                            font-size: 24px;
                        }
                    }

                    &:hover {
                        border: 1px solid var(--color1-);

                        div:nth-child(2) {
                            background-color: rgba(0, 0, 0, 0);
                        }

                        img:nth-child(3) {
                            opacity: 0;
                        }
                    }
                }


            }
        }
    }
}

main#region {
    #story {
        height: max-content;
        padding-top: 5vh;
    }

    #container {
        .container-fluid {
            opacity: 0;
            transform: translateY(20%);
            transition-duration: 600ms;

            &.active {
                opacity: 1;
                transform: translateY(0);
            }

            .row {
                .item {
                    display: none;

                    &.active {
                        display: block;
                    }
                }
            }
        }

        .container__more.active {
            /* height: 0; */
            visibility: hidden;
            opacity: 0;
        }

        .container__more {
            min-height: 160px;
            z-index: 3;
            background-color: #000000c3;

            button {
                background-color: #111318;
                border: 2px solid var(--color3-);

                p {
                    color: var(--color3-);
                }

                &:hover {
                    background-color: #000000;
                }
            }
        }
    }
}

main#map {
    .area {
        opacity: 0;
        transition: fill 1s ease;
    }

    .area.active {
        opacity: 1;
        fill: rgba(255, 255, 255, 0.2);
    }

    .map-pc {

        ul {
            li {
                height: 11vh;
                width: max-content;

                a {
                    h1 {
                        font-size: 18px;
                    }

                    div {
                        img {
                            aspect-ratio: 1 / 1;
                        }
                    }
                }

                &:hover {
                    a {
                        div {
                            img:last-child {
                                opacity: 1 !important;
                                transform: scale(1.5);
                            }

                            img:first-child {
                                opacity: 0;
                            }
                        }
                    }

                    .title {
                        display: block;
                    }
                }

                .title {
                    top: -20%;
                    right: 100%;
                    height: 50px;
                    width: max-content;
                    min-width: 200px;
                    display: none;

                    div {
                        background-color: #000000a9;

                        p {
                            text-align: center;
                            line-height: 50px;
                        }
                    }
                }
            }

            .Noxus {
                top: 40%;
                left: 47%;
            }

            .Ionia {
                top: 37%;
                left: 75%;
            }

            .The_Freljord {
                top: 35%;
                left: 28%;
            }

            .Demacia {
                top: 45%;
                left: 26%;
            }

            .Targon {
                top: 67%;
                left: 36%;
            }

            .Shurima {
                top: 65%;
                left: 50%;
            }

            .Ixtal {
                top: 63%;
                left: 62%;
            }

            .Bilgewater {
                top: 57%;
                left: 74%;
            }

            .Shadow_Isles {
                top: 67%;
                left: 85%;
            }

            .Zaun {
                top: 56%;
                left: 58%;
            }

            .Piltover {
                top: 51%;
                left: 57%;
            }

            .The_Void,
            .Runeterra,
            .Bandle_City {
                display: none;
            }
        }
    }
}

main#model {

    #display {
        #loadingBarContainer {
            &>div {
                height: 10px;
                border: 1px solid var(--color1-);
                transform: translate(-50%, -50%);

                #loadingBar {
                    width: 0%;
                    background-image: linear-gradient(to right, #000, var(--color1-));
                }
            }
        }

        #container3D {
            background-color: #000000;
            background-image: radial-gradient(circle, #3a3a3a 0%, #000000 70%, #000000 100%);
            cursor: grab;
            height: 70vh;

            canvas {
                display: block;
                width: 100% !important;
                height: 100% !important;
            }
        }

        a {
            div {
                border: 3px solid var(--color3-);
                height: 100px;
                width: 100px;

                div {
                    height: 80%;
                    width: 80%;
                    transform: translate(-50%, -50%);

                    img {
                        transform: scale(2);
                    }
                }
            }

            &:hover {
                opacity: 0.8;
            }
        }

        button,
        select {
            height: 50px;
            border-radius: 10px;
            border: 1px solid #fff;
            background-color: #000;

            &:hover {
                background-color: #202020;
            }
        }
    }
}

@media (min-width: 576px) {
    /* CSS col-sm */
}

@media (min-width: 768px) {
    /* CSS col-md */

    main#champions {
        #filter {
            display: block;
        }
    }

    main#region {
        #container {
            .container__more {
                top: calc(323.4px + 25vh + 2rem);
            }
        }
    }

    main#model {
        #display {
            #container3D {
                height: 100vh;
            }
        }
    }
}

@media (min-width: 992px) {
    /* CSS col-lg */

    main#champion {
        #container {
            .container {
                .row {
                    .col__item {
                        height: 85vh;
                    }

                    .col__1 {
                        display: block;
                    }

                    .col__3 .col__body:hover {
                        transform: scale(1.1);

                        &>div img {
                            transform: translateY(calc((-2rem - 18px - 1px)/2 - 40px));
                        }

                        a {
                            bottom: 0;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 1200px) {
    /* CSS col-xl */

    main#region {
        #container {
            .container__more {
                top: calc(423.4px + 25vh + 2rem);
            }
        }
    }
}

@media (min-width: 1400px) {
    /* CSS col-xxl */
}