<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../Assets/Css/reset.css">
    <link rel="stylesheet" href="../../../Assets/Css/layout-admin.css">
    <title>Manager - League of Legends</title>
</head>
<body>
    <main>
        <table>
            <tr>
                <th>Champions</th>
                <td><a href="./champions.php">Details</a></td>
            </tr>
            <tr>
                <th>Regions</th>
                <td><a href="./regions.php">Details</a></td>
            </tr>
            <tr>
                <th>Roles</th>
                <td><a href="./relations.php">Details</a></td>
            </tr>
        </table>
    </main>
</body>
</html>