<div class="take flex-center w-100 flex-column text-center h-50">
    <p class="text-white">This design takes inspiration from: </p>
    <a target="_blank" rel="noopener noreferrer"
        href="https://www.leagueoflegends.com/en-us/?utm_medium=card1%2Bplayruneterra.com&utm_source=riotbar">Riot
        Games - Leagues of Legends</a>
</div>
<div class="made w-100 h-50 bg-black flex-column flex-center gap-3">
    <div class="socials-list flex-center gap-4">
        <a href=""><i class="bi bi-facebook"></i></i></a>
        <a href=""><i class="bi bi-instagram"></i></i></a>
        <a href=""><i class="bi bi-twitter"></i></a>
        <a href=""><i class="bi bi-tiktok"></i></a>
        <a href=""><i class="bi bi-discord"></i></a>
        <a href=""><i class="bi bi-linkedin"></i></a>
    </div>
    <p class="powerBy text-white">Power by <a href="">TranVietHung</a></p>
</div>

<style>
    #footer {
        z-index: 3;
        position: relative;
        height: 40vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 5vh;
        background-color: #000;

        * {
            font-family: Helvetica, Arial, sans-serif !important;
        }

        .take {
            background-color: #1f1f1f;

            a {
                color: var(--color2-);
            }
        }

        .made {

            .socials-list {
                a {
                    font-size: 30px;
                    color: #fff;

                    :hover {
                        opacity: 0.8;
                    }
                }
            }

            .powerBy {
                a {
                    color: var(--color2-);
                }
            }
        }
    }

    @media(max-width: 992px) {
        .footer-socials-list>a {
            margin: 0 2vw;
            font-size: 5vw;
        }
    }
</style>