<div id="footer">
    <div class="take d-flex w-100 flex-column align-items-center justify-content-center text-center">
        <p class="text-white">This design takes inspiration from: </p>
        <a target="_blank" rel="noopener noreferrer" href="https://www.leagueoflegends.com/en-us/?utm_medium=card1%2Bplayruneterra.com&utm_source=riotbar">Riot Games - Leagues of Legends</a>
    </div>
    <div class="made w-100 bg-black d-flex flex-column justify-content-center align-items-center gap-3">
        <div class="socials-list d-flex justify-content-center align-items-center gap-4">
            <a href=""><i class="bi bi-facebook"></i></i></a>
            <a href=""><i class="bi bi-instagram"></i></i></a>
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-tiktok"></i></a>
            <a href=""><i class="bi bi-discord"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
        </div>
        <p class="powerBy text-white">Power by <a href="">TranVietHung</a></p>
    </div>
</div>