#main {
    position: relative;
    height: 100vh;
    width: 100%;

    & video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    & div {
        position: absolute;
        display: flex;
        height: 50vh;
        width: 100%;
        top: 25%;
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        justify-content: center;

        & img {
            width: 30%;
        }

        & button {
            background-color: #00000000;
            border: 1px solid #fff;
            height: 10vh;
            width: 15vw;

            & a {
                display: block;
                margin: auto;
                background-color: var(--color1-);
                width: 95%;
                height: 95%;
                font-size: 18px;
                text-decoration: none;
                text-transform: uppercase;
                color: #000;
                line-height: calc(10vh * 90 / 100);

                &:hover {
                    background-color: beige;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    #main>div {
        &>img {
            width: 80%;
        }
        & button{
            height: 10vh;
            width: 80vw;
        }
    }
}