body {
    background-color: black;
    /* overflow: hidden; */
}

.section__head {
    height: 30vh;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h1 {
        letter-spacing: 0.1vw;
        font-size: 2vw;
        font-weight: 500;
        color: white;
    }

    & h3 {
        font-size: 1vw;
        margin-bottom: 1vh;
        font-style: italic;
        color: #e5b48f;
    }
}

#slide {
    margin-top: 70px;
    position: relative;

    & .slide__video {
        height: 100%;
        width: 100%;

        & img,
        & video {
            position: absolute;
            top: 0;
            z-index: 1;
            width: 100%;
            height: auto;
            object-position: top;
            object-fit: cover;
        }

        & video {
            object-fit: cover;
            z-index: 2;
        }

        & .slide__video--logo {
            position: absolute;
            z-index: 3;
            top: 25%;
            left: 15%;
            width: 70%;
            height: 60%;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            animation: autocolor 2s linear infinite;
        }
    }

    & .slide__content {
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 30%;
        bottom: 0;
        color: white;
        text-align: center;

        & h1 {
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: 500;
            font-size: 3vw;
            font-style: italic;
            margin-bottom: 3vh;
        }

        & p {
            margin: auto;
            letter-spacing: 0.5px;
        }
    }
}

#video {

    & .video__main {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        &>video,
        &>img {
            position: absolute;
            z-index: 1;
            height: 90%;
            width: 70%;
            object-fit: cover;
            border: 2px solid var(--border-color-);
        }

        & button {
            position: absolute;
            top: calc((90% - 50px) / 2);
            left: calc((100% - 50px) / 2);
            height: 50px;
            width: 50px;
            z-index: 4;
            border: 2px solid var(--text-color-);
            background-color: black;
            color: var(--text-color-);

            &:hover {
                color: black;
                background-color: var(--text-color-);
            }
        }

        & .video__main--background {
            z-index: 0;
            position: absolute;
            right: -10%;
            height: 100%;
            width: 50%;
            background-position: center;
            background-size: 120%;
            background-repeat: no-repeat;
        }

        & .video__main--background:first-child {
            left: -10%;
        }
    }
}

#explore {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    & .explore__main {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-areas: "video video video video list";
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 100%;

        & .explore__main--video {
            position: relative;
            grid-area: video;
            border: 0.1vw solid #e5b48f;

            & video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            & .explore__main--lore {
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                left: 0;
                background-image: linear-gradient(to right bottom, #000, #0000001d, #00000000);

                & p {
                    color: white;
                    user-select: none;
                    position: absolute;
                    opacity: 0;
                    width: 25%;
                    top: 100%;
                    left: 1%;
                    filter: blur(33px);

                    &.active {
                        user-select: unset;
                        top: 10%;
                        opacity: 1;
                        filter: blur(0px);
                    }
                }
            }

            & img {
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                position: absolute;
                object-fit: contain;
            }
        }

        & .explore__main--list {
            grid-area: list;
            display: grid;
            grid-template-rows: repeat(5, 1fr);
            grid-template-columns: 1fr;

            &:hover {
                & button {
                    filter: grayscale(70%);
                    opacity: 0.7;
                }
            }

            & button {
                overflow: hidden;
                margin: 1vh 0;
                border: none;
                background-color: #00000000;

                &:hover {
                    filter: grayscale(0%);
                    opacity: 1;

                    & img {
                        transform: scale(1.2);
                    }
                }

                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
        }
    }
}

#members {
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    & .members__main {
        position: relative;
        perspective: 1000px;
        transform-style: preserve-3d;

        & input {
            display: none;
        }

        & label {
            position: absolute;
            margin: auto;
            width: 60%;
            height: 100%;
            border-radius: 4px;
            top: 0;
            right: 0;
            left: 0;
            cursor: pointer;


            & img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 4px;
            }

            &::after {
                position: absolute;
                content: attr(data-text);
                color: wheat;
                z-index: 0;
                bottom: 0;
                width: 30%;
                font-size: 2vw;
                left: 35%;
                letter-spacing: 0.4vw;
                text-align: center;
                font-weight: 500;
                text-transform: uppercase;
                font-family: 'Courier New', Courier, monospace;
                transition: all 300ms ease-in-out;
                background-image: linear-gradient(to right, #00000000, #000000, #00000000);
                opacity: 0;
            }
        }

        #s1:checked~#member4,
        #s2:checked~#member5,
        #s3:checked~#member1,
        #s4:checked~#member2,
        #s5:checked~#member3 {
            box-shadow: 10px 10px 10px 10px #0000007e;
            transform: translate3d(-30%, 0, -200px);
        }

        #s1:checked~#member5,
        #s2:checked~#member1,
        #s3:checked~#member2,
        #s4:checked~#member3,
        #s5:checked~#member4 {
            box-shadow: 10px 10px 10px 10px #0000007e;
            transform: translate3d(-15%, 0, -100px);
        }

        #s1:checked~#member1,
        #s2:checked~#member2,
        #s3:checked~#member3,
        #s4:checked~#member4,
        #s5:checked~#member5 {
            box-shadow: 10px 10px 10px 10px #0000007e;
            transform: translate3d(0, 0, 0);

            &::after {
                opacity: 1;
                bottom: 5vh;
            }
        }

        #s1:checked~#member2,
        #s2:checked~#member3,
        #s3:checked~#member4,
        #s4:checked~#member5,
        #s5:checked~#member1 {
            box-shadow: 10px 10px 10px 10px #0000007e;
            transform: translate3d(15%, 0, -100px);
        }

        #s1:checked~#member3,
        #s2:checked~#member4,
        #s3:checked~#member5,
        #s4:checked~#member1,
        #s5:checked~#member2 {
            box-shadow: 10px 10px 10px 10px #0000007e;
            transform: translate3d(30%, 0, -200px);
        }
    }
}

#meida{

    & .media__main{
        position: relative;
        width: 80%;
        margin: auto;

        & button{
            position: absolute;
            width: 100%;
            height: 100%;

            & img{
                height: 100%;
                width: 100%;
            }
        }
    }
}

#media-more{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 6;
    top: 70px;
    opacity: 0;
    visibility: hidden;

    &.active{
        opacity: 1;
        visibility: visible;
    }

    &>button{
        position: absolute;
        right: 0;
        top: 0;
        height: 50px;
        width: 50px;

        & i{
            color: var(--text-color-);
            font-size: 1.2vw;
        }
    }
    & .media-more__main{
        height: 70%;
        width: 80%;
        margin: auto;
        border: 1px solid var(--border-color-);

        & h1{
            width: 100%;
            height: 10%;
            font-size: 2vw;
            color: wheat;
            text-align: center;
            align-items: center;
            text-transform: uppercase;
        }

        & .media-more__main--watch{
            position: relative;
            height: 80%;
            width: 100%;
            border-top: 1px solid var(--border-color-);
            border-bottom: 1px solid var(--border-color-);
            overflow: hidden;

            & img{
                position: absolute;
                left: 100%;
                top: 0;
                width: 100%;
                height: 95%;
                object-fit: contain;

                &.active{
                    left: 0;
                }
            }
        }
        & .media-more__main--button{
            height: 10%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            
            & button{
                height: 100%;
                width: 6vw;
                margin: 1vw;
                border: 1px solid #00000000;
                background-color: black;
                transform: scale(0.8);

                &.active{
                    border: 1px solid #fff;
                    transform: scale(1);
                }

                & img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
}

@keyframes autocolor {
    0% {
        filter: drop-shadow(16px 7px 8px blue);
    }

    50% {

        filter: drop-shadow(16px 7px 8px red);
    }

    66% {
        filter: drop-shadow(16px 7px 8px rgb(200, 0, 255));
    }

    100% {
        filter: drop-shadow(16px 7px 8px blue);
    }
}

@media (min-width: 769px) {
    section {
        height: 120vh;
        width: 100%;
    }

    .section__main {
        height: calc(95% - 30vh);
    }
}

@media (max-width: 768px) {
    section {
        height: 60vh;
        width: 100%;
    }

    .section__main {
        height: 50%;
    }

    .section__head {
        height: 50%;
    }

    #story {
        height: 60vh;
    }
}