section{
    width: 90vw;
    margin: 0 auto;
}
.transition{
    transition: all 200ms ease-in;
}
#app{
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
    height: max-content;
}
#pageBackground{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#title{
    height: 30vh;

    & h1{
        line-height: 30vh;
        font-size: 4vw;
        letter-spacing: 0.2vw;
        color: #f0e6d2;
    }
}
#container{
    height: max-content;
    display: grid;
    grid-auto-rows: 200px;

    & .container__item{
        position: relative;
        width: 90%;
        margin: 1vh auto;
        border: 1px solid rgb(39, 39, 39);

        & .container__item--img{
            position: relative;
            height: 100%;
            width: 100%;
            opacity: 0.4;
        }
        & img{
            position: absolute;
            right: 0;
            left: 0;
            top: 0;
            bottom: 45px;
            margin: auto;
            height: 75px;
        }
        & h3{
            position: absolute;
            width: 100%;
            height: 55px;
            bottom: 0;
            right: 0;
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            line-height: 55px;
            text-align: center;
            background-color: black;
            color: #f0e6d2;
        }
        &:hover{
            border: 1px solid #ffd889;
            
            & .container__item--img{
                opacity: 1;
            }
            & img{
                opacity: 0;
            }
        }

    }
}


@media(min-width: 1024px){
    #title{
        height: 40vh;
    
        & h1{
            line-height: 40vh;
        }
    }
    #container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media(min-width: 741px) and (max-width: 1023px){
    #container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media(min-width: 500px) and (max-width: 740px){
    #container{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width: 499px){
    #container{
        grid-template-columns: 1fr;
    }
}