<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Assets/Font/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="stylesheet" href="../../Assets/Css/header_footer.css">
    <link rel="stylesheet" href="../../Assets/Css/reset.css">
    <link rel="stylesheet" href="../../Assets/Css/kda-all-out.css">
    <link rel="icon" href="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Icon/LOL.png">
    <title>K/DA - Universe League of Legends</title>
</head>

<body>
    <header id="header"></header>
    <main id="main">
        <section id="slide">
            <div class="slide__video">
                <video autoplay muted>
                    <source
                        src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Video/KDA_ALLOUT.mp4"
                        type="video/mp4">
                </video>
                <img class="transition"
                    src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/KDA_AllOut.jpg"
                    alt="">
                <div class="slide__video--logo"
                    style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/kda-logo.png);">
                </div>
            </div>
            <div class="slide__content">
                <h1>POP/STARS</h1>
            </div>
        </section>
        <section id="video">
            <div class="video__head section__head">
                <h3>featured video</h3>
                <h1>POP/STARS</h1>
            </div>
            <div class="video__main section__main">
                <div class="video__main--background"
                    style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/electronic-music.png);">
                </div>
                <div class="video__main--background"
                    style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/electronic-music.png);">
                </div>
                <video
                    poster="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/KDA_AllOut_2.jpg">
                    <source
                        src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Video/MORE.mp4"
                        type="video/mp4">
                </video>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
        </section>
        <section id="explore"
            style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/kda-music-background.jpg);">
            <div class="explore__head section__head">
                <h3>The Girls</h3>
                <h1>K/DA All Out</h1>
            </div>
            <div class="explore__main section__main">
                <div class="explore__main--video">
                    <video src=""
                        poster="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/KDA_AllOut_2.jpg"
                        autoplay loop></video>
                    <div class="explore__main--lore">
                        <p class='transition'>
                            As the leader, founder, and main vocalist of K/DA, Ahri graces the stage with confident
                            charm. The calm center of the group, she values authentic self-expression and encourages her
                            team to do the same. Ahri takes pride in discovering new talents and shaping them towards
                            their full potential.
                        </p>
                        <p class='transition'>
                            Evelynn is K/DA’s lead vocalist, wielding a hypnotic stage presence like no other. Never one
                            to stay in the shadows, she relishes the crowd’s reactions to her masterfully crafted image.
                            Co-founder of K/DA alongside her counterpart Ahri, Evelynn edges the group towards their
                            most thrilling creative risks.
                        </p>
                        <p class='transition'>
                            Akali is the main rapper of the group, boasting street punk style with a brash, dangerous
                            streak. She constantly keeps her team on their toes—and values her creative independence
                            most of all. Akali’s always spinning on new projects and refuses to compromise for her art.
                        </p>
                        <p class='transition'>
                            As the main dancer and team choreographer, Kai'Sa strives for perfection. Her intense, quiet
                            focus pushes the team forward with otherworldly concepts and pristine attention to detail.
                            Kai'Sa embraces a cosmopolitan approach to life, finding inspiration in every corner of the
                            world.
                        </p>
                        <p class='transition'>
                            K/DA’s newest collaborator is Seraphine, a vibrant young producer and songwriter. Music is a
                            way for her to connect with others and herself—and alongside K/DA, she’s determined to reach
                            new heights. Earnest and open-hearted, Seraphine’s dream is to unite the world through her
                            art.
                        </p>
                    </div>
                </div>
                <div class="explore__main--list">
                    <button data-text="Ahri">
                        <img src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Ahri_KDA_ALLOUT_Avatar.jpg'
                            class='transition' alt=''>
                    </button>
                    <button data-text="Evelynn">
                        <img src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Evelynn_KDA_ALLOUT_Avatar.jpg'
                            class='transition' alt=''>
                    </button>
                    <button data-text="Akali">
                        <img src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Akali_KDA_ALLOUT_Avatar.jpg'
                            class='transition' alt=''>
                    </button>
                    <button data-text="Kaisa">
                        <img src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Kaisa_KDA_ALLOUT_Avatar.jpg'
                            class='transition' alt=''>
                    </button>
                    <button data-text="Seraphine">
                        <img src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Seraphine_KDA_ALLOUT_Avatar.jpg'
                            class='transition' alt=''>
                    </button>
                </div>
            </div>
        </section>
        <section id="members"
            style="background-image: linear-gradient(to right, rgba(255, 0, 150, 0.1), rgba(0, 0, 0, 0), rgba(0, 0, 255, 0.1)), url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/kda-splash-background.jpg);">
            <div class="members__head section__head">
                <h3>Splash Art</h3>
                <h1>K/DA All Out</h1>
            </div>
            <div class="members__main section__main">
                <input type='radio' name='member' id='s1' checked>
                <input type='radio' name='member' id='s2'>
                <input type='radio' name='member' id='s3'>
                <input type='radio' name='member' id='s4'>
                <input type='radio' name='member' id='s5'>

                <label class='transition' for='s1' data-text='Ahri' id='member1'>
                    <img
                        src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/A/Ahri/Ahri_18.jpg'>
                </label>
                <label class='transition' for='s2' data-text='Evelynn' id='member2'>
                    <img
                        src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/E/Evelynn/Evelynn_8.jpg'>
                </label>
                <label class='transition' for='s3' data-text='Akali' id='member3'>
                    <img
                        src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/A/Akali/Akali_13.jpg'>
                </label>
                <label class='transition' for='s4' data-text="Kai'Sa" id='member4'>
                    <img
                        src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/K/KaiSa/KaiSa_7.jpg'>
                </label>
                <label class='transition' for='s5' data-text='Seraphine' id='member5'>
                    <img
                        src='https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Splash_Art/S/Seraphine/Seraphine_3.jpg'>
                </label>
            </div>
        </section>
        <section id="meida">
            <div class="meida__head section__head">
                <h3>Media</h3>
                <h1>Gallery</h1>
            </div>
            <div class="media__main section__main">
                <button>
                    <img src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/KDA_AllOut_ConCept_1.jpg" alt="">
                </button>
            </div>
        </section>
        <section id="media-more" class="transition">
            <button class="media-more__btnclose"><i class="fa-solid fa-x"></i></button>
            <div class="media-more__main">
                <h1>Gallery</h1>
                <div class="media-more__main--watch">
                    <img class="transition active" src="" alt="">
                    <img class="transition" src="" alt="">
                    <img class="transition" src="" alt="">
                    <img class="transition" src="" alt="">
                    <img class="transition" src="" alt="">
                    <img class="transition" src="" alt="">
                    <img class="transition" src="" alt="">
                    <img class="transition" src="" alt="">
                    <img class="transition" src="" alt="">
                </div>
                <div class="media-more__main--button">
                    <button class="transition active">
                        <img src="" alt="">
                    </button>
                    <button class="transition">
                        <img src="" alt="">
                    </button>
                    <button class="transition">
                        <img src="" alt="">
                    </button>
                    <button class="transition">
                        <img src="" alt="">
                    </button>
                    <button class="transition">
                        <img src="" alt="">
                    </button>
                    <button class="transition">
                        <img src="" alt="">
                    </button>
                    <button class="transition">
                        <img src="" alt="">
                    </button>
                    <button class="transition">
                        <img src="" alt="">
                    </button>
                    <button class="transition">
                        <img src="" alt="">
                    </button>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer"></footer>
</body>

</html>
<script src="../../Assets/Javascript/function.js"></script>
<script src="../../Assets/Javascript/load-header-footer.js"></script>
<script src="../../Assets/Javascript/kda-all-out.js"></script>