<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../Assets/Font/fontawesome-free-6.6.0-web/css/all.min.css">
    <link rel="stylesheet" href="../../Assets/Css/header_footer.css">
    <link rel="stylesheet" href="../../Assets/Css/reset.css">
    <link rel="icon" href="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/Icon/LOL.png">
    <link rel="stylesheet" href="../../Assets/Css/KDA.css">
    <title>K/DA - Universe League of Legends</title>
</head>

<body>
    <header id="header"></header>
    <main id="main">
        <section id="slide">
            <div class="slide__video">
                <video autoplay muted>
                    <source
                        src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Video/KDA.webm"
                        type="video/webm">
                </video>
                <img class="transition"
                    src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/KDA.jpg"
                    alt="">
                <div class="slide__video--logo"
                    style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/kda-logo.png);">
                </div>
            </div>
            <div class="slide__content">
                <h1>POP/STARS</h1>
                <p>K/DA exploded into the music scene with their hit song “POP/STARS.” Fans of K/DA can’t get <br>enough
                    of their unconventional flair, from the trademark tails (which fans suspect are real)<br> to
                    otherworldly decor in their studio. “Our songs are for you to remember-always be true <br>to
                    yourself,” says lead singer Ahri. K/DA hopes to take their music around the world in a <br>global
                    tour.</p>
            </div>
        </section>
        <section id="video">
            <div class="video__head section__head">
                <h3>featured video</h3>
                <h1>POP/STARS</h1>
            </div>
            <div class="video__main section__main">
                <div class="video__main--background"
                    style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/electronic-music.png);">
                </div>
                <div class="video__main--background"
                    style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/electronic-music.png);">
                </div>
                <video
                    poster="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/KDA_2.jpg">
                    <source
                        src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Video/KDA-POPSTARS.mp4">
                </video>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
        </section>
        <section id="story"
            style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/kda-splash-background.jpg);">
            <div class="story__image"
                style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Ahri_KDA.png);">
            </div>
            <div class="story__info">
                <div class="story__info--button">
                    <button data-text="AHRI" class="active">
                        <div class="story__button--border active">
                            <div class="story__button--img"
                                style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Ahri_KDA_Avatar.jpg);">
                            </div>
                        </div>
                    </button>
                    <button data-text="EVELYNN">
                        <div class="story__button--border">
                            <div class="story__button--img"
                                style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Evelynn_KDA_Avatar.jpg);">
                            </div>
                        </div>
                    </button>
                    <button data-text="KAI'SA">
                        <div class="story__button--border">
                            <div class="story__button--img"
                                style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Kaisa_KDA_Avatar.jpg);">
                            </div>
                        </div>
                    </button>
                    <button data-text="AKALI">
                        <div class="story__button--border">
                            <div class="story__button--img"
                                style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/Akali_KDA_Avatar.jpg);">
                            </div>
                        </div>
                    </button>
                </div>
                <div class="story__container">
                    <div class="story__container--bandmember" data-text="Ahri">Band Member</div>
                    <div class="story__container--role" data-text="Lead Vocalist">Role</div>
                    <div class="story__container--zodiacsign" data-text="Sagittarius">Zodiac sign</div>
                    <div class="story__container--nicknames" data-text="Foxy, Gumiho">Nicknames</div>
                    <div class="story__container--height" data-text="167.6 cm (5’5”)">Height</div>
                </div>
                <div class="story__content">
                    <div class="story__content--button">
                        <button class="active">BEAUTY AND FASHION</button>
                        <button>8 FACTS</button>
                    </div>
                    <ul class="story__content--main active">
                        After rising to fame as a teenage pop star, Ahri tossed aside her girly and young look to reveal
                        her new self: a high fashion, elegant, and stunning celebrity.
                        Ahri’s sleek new look attracts top fashion designers. During fashion week, Ahri graces runways
                        around the world in finale gowns.
                        She is the face of FOXY cosmetics and launched her own fragrance, Charmed last year.
                        When she isn’t with K/DA or training, Ahri is shopping, drinking tea with designers, and testing
                        out new beauty products.
                    </ul>
                </div>
            </div>
        </section>
        <section id="music"
            style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/kda-music-background-1.jpg);">
            <div class="video__head section__head">
                <h3>K/DA's New Hit Single</h3>
                <h1>POP/STARS</h1>
            </div>
            <div class="video__main section__main">
                <video
                    poster="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/KDA_3.jpg">
                    <source
                        src="https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Video/KDA-THE BADDEST.mp4">
                </video>
                <button><i class="fa-solid fa-play"></i></button>
            </div>
        </section>
        <section id="member"
            style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/kda-music-background.jpg);">
            <div class="member__head section__head">
                <h3>K/DA Members</h3>
                <h1>POP/STARS</h1>
                <button class="transition">K/DA</button>
            </div>

            <div class="member__main transition section__main">
                <div class="member member0 transition"></div>
                <div class="member member1 transition"></div>
                <div class="member member2 transition"></div>
                <div class="member member3 transition"></div>
            </div>
        </section>
        <section id="more">
            <a href="./kda-all-out.html" class="transition"
                style="background-image: url(https://raw.githubusercontent.com/VietHung0712/AssetsLOL/refs/heads/main/KDA/Image/KDA_AllOut.jpg);">
                <button class="transition">K/DA ALL OUT</button>
            </a>
        </section>
    </main>
    <footer id="footer"></footer>
</body>

</html>
<script src="../../Assets/Javascript/function.js"></script>
<script src="../../Assets/Javascript/load-header-footer.js"></script>
<script src="../../Assets/Javascript/kda.js"></script>