<header id="header">
    <ul>
        <li>
            <a href="./champions.php">Champions</a>
        </li>
        <li>
            <a href="./regions.php">Regions</a>
        </li>
        <li>
            <a href="./regions.php">Roles</a>
        </li>
    </ul>
</header>
<style>
    #header{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 70px;
        background-color: #000;

        a{
            width: 100%;
        }
        ul{
            width: 70%;
            margin: auto;
            display: flex;
            list-style-type: none;
            justify-content: start;
            align-items: center;
            gap: 10px;
        }
    }
</style>